
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminIndex</h1>

<div class="grid">
    <a asp-controller="Admin" asp-action="ApproveTeamRequests">
        <header class="">
            <h1 class="">
                Approve Team Requests

            </h1>
        </header>
    </a>


</div>