@model LoginViewModel



<div class="error" asp-validation-summary="All"></div>
<form method="post" asp-action="Login">
    <div class="signin-form">
        Username <input for="email" type="text" name="email" size="35" />
    </div>
    <div class="signin-form">
        Password <input for="password" type="" name="password" size="35" />
    </div>
    <button type="submit" class="btn">Log In</button>
</form>