.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.profileContainer {
    min-height: 200px;
}

.profileLight {
    background-color: #e5ece9;
}

.titleLimit {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
}

.hideTitleInput {
    display: none;
}

.showTitleInput {
    display: block;
}
