.view-team-banner-container {
    position: relative;
    overflow: hidden;
}

.view-team-banner-text {
    position: absolute;
    right: 0;
    top: 0px;
    color: white;
    width: 100%;
    text-align: center;
}

.view-team-banner-img {
    width: 100%;
    object-fit: cover;
    height: 350px;
    object-position: 50% 45%;
}