@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Cart";
}
@model CartViewModel;

    <section>
        <h1>@(Model.CartItems.Count == 0 ? "Your Cart Appears to be Empty :(" : "Your Cart")</h1>
        @foreach (var item in Model.CartItems)
        {
          @Html.PartialAsync("CartSumamry")
        }
        <h3>Your total is: $@Model.CartPrice</h3>
        <button>Paypal Button goes here</button>
    </section>