@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Cart";
}
@model CartViewModel;

    <section>
        <script src="https://www.paypal.com/sdk/js?client-id=Aa2Exsni8UtIJ51dbKE0UpgwK5cJpNs32wabmp4u1sbk9mUQIOhCQspTkH1mPQBYAYHGSYumeMmIZqym"></script>
        <h1>@(Model.CartItems.Count == 0 ? "Your Cart Appears to be Empty :(" : "Your Cart")</h1>
        @foreach (var item in Model.CartItems)
        {
          @Html.PartialAsync("CartSumamry")
        }
        <div id="paypal-button-container"></div>
        <script>
            const serverURL = "https:localhost:8080";
            paypal.Buttons({
                createOrder: function () {
                    return fetch(serverURL + '/Cart/CreateOrder', {
                        method: 'POST',
                        headers: {
                            'content-type': 'application/json'
                        }
                    }).then(function (res) {
                        return res.json();
                    }).then(function (data) {
                        return data.orderID;
                    });
                },
                onApprove: function (data) {
                    return fetch(serverURL + '/Cart/GetAndSaveOrder', {
                        method: 'POST',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID
                        })
                    }).then(function (res) {
                        return res.json();
                    }).then(function (data) {
                        return data.orderID;
                    });
                }
            }).render('#paypal-button-container');
        </script>
        <h3>Your total is: $@Model.CartPrice</h3>
    </section>