@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
@model LoginViewModel

<h1>Retrieve Password</h1>
<form asp-controller="Login" asp-action="FgtPwd" method="post">
    <label>Email</label>
    <input type="email" placeholder="Enter Email" asp-for=@Model.Email required />

    <br />
    <label>Password</label>
    <input type="password" placeholder="Enter Password" asp-for=@Model.Password required />

    <button type="submit">Password</button>


</form>
