@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot Password";
}
@model LoginViewModel
<div class="panel-heading text-center">
    <h1>Retrieve Password</h1>
    <p>Type your e-mail address and we'll send your current password to you.</p>
</div>


<div id="wrapper">
    <div class="panel panel-success">
        <div class="panel-body">
            <form class="p-a-1" asp-controller="Login" asp-action="ForgotPasswordCtrl" method="post">
              
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" asp-for=@Model.Email required />
                    </div>
                
                       
                        <input type="hidden" class="form-control" name="password" value="noneatall123!"  /><br />
                        <button class="btn btn-primary" type="submit">Login</button>
                    
             
            </form>

        </div>
    </div>
</div>

