@model LoginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

    <div class="panel-heading text-center">
        <h1>Login</h1>
    </div>


<div id="wrapper">
    <div class="panel panel-success">
        <div class="panel-body">
            <form class="p-a-1" asp-controller="Login" asp-action="Login" method="post">
                <div asp-validation-summary="All">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" asp-for=@Model.Email required />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" asp-for=@Model.Password required /><br />
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

