
@{
    ViewData["Title"] = "AddGroup";
}
@model CreateGroupVM
    <section>
        <h1>Add New Product Group</h1>
        <form asp-controller="Team" asp-action="UpdateGroup" method="post">
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <select id="rosterSelection" asp-for=@Model.SelectedRosterGroupID>
                        <option selected value="">Choose a Vanilla Group</option>
                        @foreach (var group in Model.RosterGroups)
                        {
                            <option value=@group.RosterGroupID>@group.Title - Model #@group.ModelNumber</option>
                        }
                    </select>
                </div>
                <div class="d-flex">
                    <label>Group Title: </label><input type="text" asp-for=@Model.Title />
                </div>
                <div class="d-flex">
                    <label>Description: </label><input type="text" asp-for=@Model.Description />
                </div>
                <div class="d-flex">
                    <label>General Thumbnail: </label><input type="text" asp-for=@Model.GeneralThumbnail />
                </div>
                <div class="d-flex">
                    <label>Print Design PNG: </label><input type="text" asp-for=@Model.PrintDesignPNG />
                </div>
                <div class="d-flex">
                    <label>Add New Tag: </label>
                    <input type="text" asp-for=@Model.NewTagName />
                    <select id="tagList" asp-for=@Model.ExistingTagID>
                        <option selected value="">Select an Existing Tag</option>
                        @foreach (var tag in Model.DatabaseTags)
                        {
                            <option value=@tag.TagID>@tag.TagLine</option>
                        }
                    </select>
                </div>
            </div>
            <button class="btn btn-link" type="submit">Update Group</button>
        </form>
    </section>

