@{
    Layout = "_Layout";
    ViewData["Title"] = "Teams";
}
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Welcome to our Team Page!</h1>
            <h4><a asp-controller="Team" asp-action="BrowseTeams">Browse Teams</a></h4>
        </div>
    </div>

