
@{
    ViewData["Title"] = "Modify Group";
    Layout = "_Layout";
}
@model UpdateGroupVM

<section>
    <h1>Modifying @Model.Title Group </h1>
    <form asp-controller="Team" asp-action="UpdateGroup" method="post" asp-route-GroupID=@Model.GroupID>
        <div class="d-flex flex-column">
            <div class="d-flex">
                <label>Group Title: </label><input type="text" asp-for=@Model.Title />
            </div>
            <div class="d-flex">
                <label>Description: </label><input type="text" asp-for=@Model.Description />
            </div>
            <div class="d-flex">
                <label>General Thumbnail: </label><input type="text" asp-for=@Model.ThumbnailURL />
            </div>
            <div class="d-flex">
                <label>Add New Tag: </label>
                <input type="text" asp-for=@Model.NewTagName />
                <select id="tagList" asp-for=@Model.ExistingTagID>
                    <option selected value="">Select an Existing Tag</option>
                    @foreach(var tag in Model.DatabaseTags)
                    {
                        <option value=@tag.TagID>@tag.TagLine</option>
                    }
                </select>
            </div>
            <div class="d-flex">
                <label>Remove Existing Tag: </label>
                <select id="tagList" asp-for=@Model.RemovedTagID>
                    <option selected value="">Select Tag to Remove</option>
                    @foreach (var tag in Model.ExistingGroupTags)
                    {
                        <option value=@tag.TagID>@tag.TagLine</option>
                    }
                </select>
            </div>
        </div>
        <button class="btn btn-link" type="submit">Update Group</button>
    </form>
</section>

