@model Team
@{
    Layout = "_Layout";
    ViewData["Title"] = "Team Management";
}


    <section>
        <div class="row">
            <div class="col-12">
                Dashboard Welcome Info
            </div>
            <div class="col-4">
                Card 1
            </div>
            <div class="col-4">
                Card 2
            </div>
            <div class="col-4">
                Card 3
            </div>
            <div class="col-6">
                Update Banner Image
            </div>
            <div class="col-6">
                Update Basic Team Info
            </div>
            <div class="col-12">
                Management Actions Info
            </div>
            <div class="col-6">
                Card 1
            </div>
            <div class="col-6">
                Card 2
            </div>
            <div class="col-12">
                Card 3
            </div>
        </div>
    </section>
