@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


@model IEnumerable<dropShippingApp.Models.CustomProduct>
@{ ViewData["Title"] = "Search"; }
<h1>Search</h1>
<p>    <a asp-action="Create">Create New</a> </p>
<form asp-controller="Product" asp-action="Search" method="get">
    
 Category: <input type="text" name="searchString" value="filter" />        <input type="submit" value="Search" class="btn btn-default"/>
   
</form>
<table class="table">
    <thead>
        <tr>
            <th>               ProductTitle        </th>
            <th>              Product Description        </th>
            <th>              Current Price            </th>
            <th>                Custom ImageSVG           </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (dropShippingApp.Models.CustomProduct c in Model)
        {
            <tr>
                <td>                    @Html.DisplayFor(modelItem => c.ProductTitle)                </td>
                <td>                    @Html.DisplayFor(modelItem => c.ProductDescription)                </td>
                <td>                    @Html.DisplayFor(modelItem => c.CurrentPrice)                </td>
                <td>                    @Html.DisplayFor(modelItem => c.CustomImageSVG)                </td>
                
            </tr>
        }
    </tbody>
</table>