@model List<CustomProduct>


    <form method="post">
        <button type="submit" name="command" value="Cheap">Cheapest Price</button>
       </form>

        <form method="post">
            <button type="submit" name="command" value="Expensive">Expensive Price</button>
        </form>




        @foreach (CustomProduct p in Model)
        {
            <h2>@p.ProductTitle</h2>
            <h3>@p.CurrentPrice</h3>
            <br />
        }
