@model Team
@{
    Layout = "_Layout";
    ViewData["Title"] = "Team Settings";
}


<div class="panel-heading text-center">
    <h1>Team Settings</h1><br />
</div>
<div id="wrapper">
    <div class="panel panel-success">
        <div class="panel-body">
            <form class="p-a-1" asp-controller="Team" asp-action="" method="post">
                <div asp-validation-summary="All">
                    <div class="form-group">
                        <label asp-for="Name">
                            Team Name:
                        </label>
                        <input asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Country">
                            Team Country:
                        </label>
                        <input asp-for="Country" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Providence">
                            Team Providence:
                        </label>
                        <input asp-for="Providence" />
                    </div>
                    <div class="form-group">
                        <label asp-for="StreetAddress">
                            Team Street Address:
                        </label>
                        <input asp-for="StreetAddress" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ZipCode">
                            Team Zip Code:
                        </label>
                        <input asp-for="ZipCode" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CorporatePageURL">
                            Team's Business Page(URL):
                        </label>
                        <input asp-for="CorporatePageURL" />
                    </div>
                    <div class="form-group">
                        <label asp-for="BusinessEmail">
                            Team Email:
                        </label>
                        <input asp-for="BusinessEmail" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">
                            Team Phone Number:
                        </label>
                        <input asp-for="PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">
                            Team Description:
                        </label>
                        <textarea asp-for="Description"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>